/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 4, ../scss/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, ../scss/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  color: #303132; }
  @media (min-width: 1020px) {
    /* line 11, ../scss/style.scss */
    body {
      padding: 28px 22px; } }

@media (max-width: 1019px) {
  /* line 18, ../scss/style.scss */
  .regularsection {
    width: 98%;
    margin: 0 auto;
    overflow: hidden; } }
@media (min-width: 1020px) {
  /* line 18, ../scss/style.scss */
  .regularsection {
    float: left;
    overflow: hidden; } }
/* line 29, ../scss/style.scss */
.regularsection .regularsection__wrap.preload {
  background: url("https://camo.githubusercontent.com/a1a81b0529517027d364ee8432cf9a8bd309542a/687474703a2f2f692e696d6775722e636f6d2f56446449444f522e676966") no-repeat center center; }
@media (max-width: 1019px) {
  /* line 28, ../scss/style.scss */
  .regularsection .regularsection__wrap {
    margin-bottom: 10vw; } }
/* line 38, ../scss/style.scss */
.regularsection .regularsection__title {
  color: #5e6774;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.02em; }
  @media (max-width: 1019px) {
    /* line 38, ../scss/style.scss */
    .regularsection .regularsection__title {
      font-size: 5vw;
      margin-bottom: 2vw; } }
  @media (min-width: 1020px) {
    /* line 38, ../scss/style.scss */
    .regularsection .regularsection__title {
      font-size: 1.83em;
      margin-bottom: 0.727586em; } }
/* line 52, ../scss/style.scss */
.regularsection .product {
  border: 1px solid #edeaea;
  overflow: hidden;
  transition: height 0.3s;
  float: left; }
  @media (max-width: 1019px) {
    /* line 52, ../scss/style.scss */
    .regularsection .product {
      width: 98vw;
      padding: 2.5em 1.3157894736842105263157894736842em 1.5625em; } }
  @media (min-width: 1020px) {
    /* line 52, ../scss/style.scss */
    .regularsection .product {
      width: 310px;
      height: 24.0625em;
      padding: 2.5em 1.3157894736842105263157894736842em 1.5625em; }
      /* line 65, ../scss/style.scss */
      .regularsection .product:hover {
        height: 28.87em;
        cursor: pointer;
        background: #FEFEFE url('../../../../img/bg_productbox.png') repeat-x top center; }
        /* line 69, ../scss/style.scss */
        .regularsection .product:hover .prodBuyHolder {
          opacity: 1; } }
  /* line 74, ../scss/style.scss */
  .regularsection .product.preload {
    background: url("https://camo.githubusercontent.com/a1a81b0529517027d364ee8432cf9a8bd309542a/687474703a2f2f692e696d6775722e636f6d2f56446449444f522e676966") no-repeat center center; }
  /* line 77, ../scss/style.scss */
  .regularsection .product .product-boxImg {
    margin: 0 auto;
    text-align: center; }
    @media (min-width: 1020px) {
      /* line 77, ../scss/style.scss */
      .regularsection .product .product-boxImg {
        height: 11.1625em; } }
  /* line 90, ../scss/style.scss */
  .regularsection .product .prodName {
    font-size: 1em;
    letter-spacing: 0.02em;
    line-height: 1.185;
    margin-bottom: 1.5625em; }
  /* line 96, ../scss/style.scss */
  .regularsection .product .prodPrice {
    margin-bottom: 0.95em;
    letter-spacing: 0.02em; }
    /* line 99, ../scss/style.scss */
    .regularsection .product .prodPrice .price {
      font: 900 1.4375em/1 'Roboto';
      color: #353f4f; }
    /* line 103, ../scss/style.scss */
    .regularsection .product .prodPrice .priceCondition {
      color: #353f4f;
      font-weight: 900; }
  /* line 108, ../scss/style.scss */
  .regularsection .product .prodBuyHolder {
    opacity: 0;
    margin-top: 1.8em;
    transition: opacity 0.3s; }
    /* line 112, ../scss/style.scss */
    .regularsection .product .prodBuyHolder .prodBuy {
      display: block;
      width: 100%;
      color: #353f4f;
      text-decoration: none;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 900;
      border: 1px solid #edeaea;
      text-align: center;
      padding: 0.84em 0; }
      @media (min-width: 1020px) {
        /* line 112, ../scss/style.scss */
        .regularsection .product .prodBuyHolder .prodBuy {
          font-size: 1.3125em; } }
      /* line 129, ../scss/style.scss */
      .regularsection .product .prodBuyHolder .prodBuy:hover {
        border-left: 8px solid #f60; }
        /* line 131, ../scss/style.scss */
        .regularsection .product .prodBuyHolder .prodBuy:hover .icon-cart-plus {
          color: #f60; }
      /* line 135, ../scss/style.scss */
      .regularsection .product .prodBuyHolder .prodBuy .icon-cart-plus {
        font-size: 1.4em;
        display: inline-block;
        float: right;
        margin-right: 0.6em; }

@media (min-width: 1020px) {
  /* line 145, ../scss/style.scss */
  #recommendation {
    width: 930px;
    overflow: hidden; } }
/* line 153, ../scss/style.scss */
#recommendation #recommendation_wrap {
  position: relative; }

/* line 157, ../scss/style.scss */
.carrousel {
  position: relative;
  padding-bottom: 2em; }
  @media (min-width: 1020px) {
    /* line 157, ../scss/style.scss */
    .carrousel {
      min-height: 500px; } }
  /* line 166, ../scss/style.scss */
  .carrousel .carrousel_wrap {
    transition: margin 0.5s; }
  /* line 170, ../scss/style.scss */
  .carrousel .bullswrap {
    clear: both;
    position: absolute;
    bottom: 0;
    text-align: center; }
    /* line 175, ../scss/style.scss */
    .carrousel .bullswrap .bull {
      display: inline-block;
      cursor: pointer;
      width: 0.7125em;
      height: 0.7125em;
      border-radius: 100%;
      background-color: #adadad;
      text-indent: -9999em;
      margin-right: 0.5em; }
      /* line 184, ../scss/style.scss */
      .carrousel .bullswrap .bull.on {
        background-color: #353f4f; }

/* line 191, ../scss/style.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* line 199, ../scss/style.scss */
.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
/* line 201, ../scss/style.scss */
* html .clearfix {
  height: 1%; }

/* line 202, ../scss/style.scss */
.clearfix {
  display: block; }

/* close commented backslash hack */
